@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(OpenSans-Regular.woff2) ;
  format("woff2");
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(OpenSans-Medium.woff2)
    format("woff2");
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(OpenSans-Bold.woff2)
    format("woff2");
}
@font-face {
  font-family: swiper-icons;
  src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA);
  font-weight: 400;
  font-style: normal;
}
*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
:before,
:after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
* {
   margin: 0;
}
body, html {
   margin: 0;
}
:root {
  --index: calc(1vw + 1vh);
}
.tarif {
  padding-top: 110px;
}
.tarif-background {
  background-image: url(Frame5.jpg);
  width: 100%;
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.tarif__container-first {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 116px;
  align-items: center;
  
}
.title-class {
  font-size: 50px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  padding-bottom: calc(var(--index)*7);
}
.tarif__container_article {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 34px;
}
.tarif__container_article-header {
display: flex;
justify-content: space-between;
align-items: center;
border-top-right-radius: 16px;
border-top-left-radius: 16px;
}
.article-header-blue {
   background-color: #1837da;
}
.rightside {
   margin-left: auto;
   display: flex;
   align-items: center;
}
.leftside {
margin-left: calc(var(--index)*2);
}
.leftside__span {
   font-size: 30px;
   font-family: OpenSans;
   font-weight: 700;
   line-height: 35px;
   letter-spacing: 2%;
}
.rightside {
   margin-right: calc(var(--index)*0.7);
   display: flex;
   align-items: center;
   
}
.centerright {
   margin-right: 8px;
   font-family: OpenSans;
   font-size: 18px;
   font-weight: 700;
}
.article-dropdown-1 {
 position: relative;
 display: inline-block;
 display: flex;
}
.dropdown-choise {
   width: calc(var(--index)*11.7);
   background: #FFFFFF;
   border: 3px solid #FF803A;
   border-radius: 20px;
   height: 57px;
   margin-top: 40px;
   margin-bottom: 35px;
   color: black;
   display: flex;
    font-size: 16px;
    font-weight: 700;
    font-family: OpenSans;
    align-items: center;
    padding-left: 30px;
    }
.dropdown-skewblock {
  display: inline-block;
  display: flex;
  
  background-color: #FF803A;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  transform: skew(-25deg);
  padding-left: 5px;
  padding-right: 5px;
}
.dropdown {
  position: absolute;
    display: flex;
   flex-direction: column;
    border-radius: 8px;
  right: 0;
  top: 117px;
  width: 128px;
    transition: all 0.3s ease-out;
    color: #00082F;
 }
 
 
 .select-wrapper:hover {
transform: scale(1.1);
 }
 .opened .dropdown {
   display: block;
 }
 .select-wrapper {
  position: relative;
  cursor: pointer;
    margin-right: 17px;
    margin-left: 16px;
    width: 26px;
    height: 13px;
     }
     .arrow_example {
          
            width: 15px;

            height: 15px;
            
            border-top: 2px solid #000000 !important;
            
            border-right: 2px solid #000000 !important;
            
            margin: 16px 0 0 10px;
            
            transform: rotate(135deg);
            
            display: inline-block;
            position: absolute;
            top: -17px;
            right: 7px;
            transition: .4s;
           

      }
 .arrow-4-left {
   position: absolute;
   background-color: transparent;
   top: 9px;
   left: 0;
   width: 14px;
   height: 8px;
   display: block;
   transform: rotate(35deg);
   float: right;
   border-radius: 2px;
}
.arrow-4-left:after {
   content: "";
   background-color: #FF803A;
   width: 15px;
   height: 4px;
   display: block;
   float: right;
   border-radius: 6px 10px 10px 6px;
   transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
   z-index: -1;
}
.item-title-down {
   margin: 0 auto;
}
.arrow-4-right {
   position: absolute;
   background-color: transparent;
   top: 7px;
   left: 13px;
   width: 14px;
   height: 8px;
   display: block;
   transform: rotate(-35deg);
   float: right;
   border-radius: 2px;
}
.arrow-4-right:after {
   content: "";
   background-color: #FF803A;
   width: 15px;
   height: 4px;
   display: block;
   float: right;
   border-radius: 10px 6px 6px 10px;
   transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
   z-index: -1;
}
.open .arrow-4-left:after {
   transform-origin: center center;
   transform: rotate(-70deg);
}
.open .arrow-4-right:after {
   transform-origin: center center;
   transform: rotate(-102deg);
}
.open1 .arrow_example {
    width: 15px;
       height: 15px;
       border-top: 2px solid #000000 !important;
            border-right: 2px solid #000000 !important;
            margin: 16px 0 0 10px;
            transform: rotate(-45deg);
            display: inline-block;
            transition: .4s;
}
.progress-line__item .arrow-4-right:after {
   transform-origin: center center;
   transform: rotate(70deg);
}
 .year__article {
   font-size: 20px;
   flex: 2;
 }
.dropdownoption {
   display: none;
    color: black;
   font-size: 16px;
transition:  0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
cursor: pointer;

}
.dropdownoptionop { 
   display: block;
   transition:  0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    border: 1px solid #FF803A;
 color: #00082F;
 font-weight: 700;
background-color: #FFFFFF;
}
.tarif__container_article-article {
   display: flex;
   flex-wrap: wrap;
   gap: 1%;
   
   }
   .article__tarif__container-item {
      width: 24.2%;
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 20px 20px;
    background-color: #FFFFFF;
    
   }
   .item-title-text {
      font-size: 28px;
      text-align: center;
      margin-top: 21px;
   }
   .green {
      color: #13A013;
   }
   .item-title_desc {
      font-size: 18px;
      width: 282px;
      width: calc(var(--index)*9.7);
      color: #00082F;
      font-size: 18px;
      font-weight: 600;
       padding-bottom: 21px;
       line-height: 22px;
/* or 122% */

letter-spacing: 0.02em;
   }
.container__tarif {
   margin-left: 20px;
}
.item-title_btn {
   margin-left: 23px;
   background-color: #13A013;
     height: 53px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 31px;
   width: calc(var(--index)*9.3);
}
.item-title_btn-btn {
   font-size: 20px;
   font-weight: 700;
   color: #FFFFFF;
}
.item-title_vozm {
   display: flex;
   flex-direction: column;
   color: black;
   font-size: 18px;
   font-weight: 400;
   padding-bottom: calc(var(--index)*2.9);
  width: 280px;
     }
.item-title_vozm-desc {
   list-style: none;
   font-family: OpenSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
line-height: 20px;
color: #00082F;
position: relative;
margin-left: 30px;
}
.item-title_vozm-desc:not(:last-child) {
   margin-bottom: 23px;
}
.item-title_vozm-desc:before {
    content: "\2714";
    position: absolute;
    left: -30px;
    top: 4px;
    width: 18px;
    height: 18px;
    color: #00082F;
}
.item-title-down {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: -6px;
   border-top: 1px solid #00082F;
   width: 98%;
}
.item-title-text_down {
  text-align: center;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 47px;
  margin-top: 0;
}
.greenlight {
  color: #20CD20;
}
.greenlightbtn {
   background-color: #20CD20;
}

.item__li-dropdown-1 {
     display: inline-block;
   display: flex;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 0.02em;
   color: #00082F;
  }
  .item__li-dropdown-choise {
     width: calc(var(--index)*9.3);
     background: #FFFFFF;
     border: 3px solid #00082F;
     border-radius: 20px;
     height: 57px;
         margin-bottom: 23px;
     color: #00082F;
         font-size: 16px;
      font-weight: 700;
      font-family: OpenSans;
      align-items: center;
      padding-left: 13px;
      }
  .item__li-dropdown {
         display: flex;
     flex-direction: column;
      border-radius: 8px;
    right: 0;
    top: 117px;
    width: 128px;
      transition: all 0.3s ease-out;
      width: calc(var(--index)*9.3);
      margin-left: 23px;
      list-style: none;
   }
   
   
  
   .item__li-opened .dropdown {
     display: block;
   }
   .item__li-select-wrapper {
    position: relative;
    cursor: pointer;
      margin-right: 17px;
      margin-left: 16px;
      width: 26px;
      height: 13px;
      right: calc(var(--index)*-7);
   }
   .item__li-select-wrapper1 {
      position: relative;
      cursor: pointer;
        margin-right: 17px;
        margin-left: 16px;
        width: 26px;
        height: 13px;
        right: calc(var(--index)*-7);
     }
   .item__li-arrow-4-left {
     position: absolute;
     background-color: transparent;
     top: 5px;
     left: -1px;
     width: 14px;
     height: 8px;
     display: block;
     transform: rotate(45deg);
     float: right;
     border-radius: 2px;
  }
  .item__li-arrow-4-left:after {
     content: "";
     background-color: #00082F;;
     width: 15px;
     height: 4px;
     display: block;
     float: right;
     border-radius: 6px 10px 10px 6px;
     transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
     z-index: -1;
  }
  
  .item__li-arrow-4-right {
     position: absolute;
     background-color: transparent;
     top: 5px;
     left: 12px;
     width: 14px;
     height: 7px;
     display: block;
     transform: rotate(-45deg);
     float: right;
     border-radius: 2px;
  }
  .item__li-arrow-4-right:after {
     content: "";
     background-color: #00082F;;
     width: 15px;
     height: 4px;
     display: block;
     float: right;
     border-radius: 10px 6px 6px 10px;
     transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
     z-index: -1;
  }
  .item__li-open .item__li-arrow-4-left:after {
     transform-origin: center center;
     transform: rotate(-90deg);
  }
  .item__li-open .item__li-arrow-4-right:after {
     transform-origin: center center;
     transform: rotate(90deg);
  }
   .item__li-year__article {
     font-size: 15px;
     line-height: 20px;
     letter-spacing: 0.02em;
    
     letter-spacing: 0.02em;
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     color: #00082F;
   }
  .item__li-dropdownoption__li {
     display: none;
      color: #00082F;
     font-size: 16px;
 position: relative;
  transition:  0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  cursor: pointer;
  background-color: #FFFFFF;
 
  z-index: 20;
 
  }
  .item__li-dropdownoptionop__li {
     display: block;
     transition:  0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
     
  }
  .item__li-dropdownoption__li1 {
   display: none;
    color: #00082F;
   font-size: 16px;
position: relative;
transition:  0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
cursor: pointer;
background-color: #FFFFFF;

z-index: 20;

}
.item__li-dropdownoptionop__li1 {
   display: block;
   transition:  0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
   
}
  .item__li-dropdown__li {
   margin-top: -120px;
   margin-left: -16px;
   height: 113px;
   width: 274px;
   text-align: center;
  }
  .item__li-dropdown__li1 {
   margin-top: -120px;
   margin-left: -16px;
   height: 113px;
   width: 274px;
   text-align: center;
  }
  .item-title_vozm-sec {
   display: flex;
   flex-direction: column;
   color: black;
   font-size: 18px;
   font-weight: 400;
   padding-bottom: calc(var(--index)*2.3);
  width: 280px;
     }
     .item-title-down-sec {
   display: flex;
   flex-direction: column;
    align-items: center;
    margin-left: -6px;
    border-top: 1px solid #00082F;
    width: 98%;
    color: #00082F;
     }
     .item-title-down__old {
      color: #00082F;
     }
     .old__old {
      color: #00082F;
      font-weight: 400;
      font-size: 18px;
     line-height: 35px;
      letter-spacing: 0.02em;
      text-decoration-line: line-through;
      font-family: Opensans;
      margin-bottom: 0;
     }
     .item-title-down__new {
      display: flex;
      align-items: center;
      gap: 14px;
   }
   .item-title {
      margin-left: -20px;
   }
   .item-title-down__new-text {
      font-family: OpenSans;
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 35px;
     letter-spacing: 0.02em;
     color: #20CD20;
     margin-bottom: 0;
     margin-top: 0;
   } 
   .dropdown-skewblock-sec {
      display: flex;
      background-color: #FF803A;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 700;
      transform: skew(-33deg);
      padding-left: 5px;
      padding-right: 5px;
      width: 44px;
      height: 20px;
    align-items: center;
    justify-content: center;
   }
   .blue {
      color: #1363DE;
   }
   .bluelightbtn {
      background-color: #1363DE;
   }
   .item-title_desc-text {
      width: calc(var(--index)*10);
   }
   .darkblue {
      color: #144FAB;
   }
   .darkbluebtn {
      background-color: #144FAB;
   }
   .article__compare {
      margin: 0 auto;
      text-align: center;
   }
   .article__compare-link {
      font-family: OpenSans;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      color: #FFFFFF;
      margin-bottom: 0;
      }
      .article-header-violet {
         background-color: #7B2CBF;
      }
.tarif-first-second {
   margin-top: calc(var(--index)*5.2);
}
.tarif-enterprise {
   width: 49.5%;
}
.darkdarkblue {
   color: #041C90;
}
.darkdarkbluebtn {
   background-color: #041C90;
   margin: 0 auto;
   margin-top: 37px;
  
   margin-bottom: calc(var(--index)*1.5);
}
.tarif-enterprise_tile {
     margin-left: calc(var(--index)*3.2);
     width: 401px;
}
.tarif-eneterprise_vozm {
   margin-left: calc(var(--index)*3.2);
   width: 100%;
   padding-bottom: calc(var(--index)*6.6);
   }
   .tarif-enterprice-down {
   width: 97%;
    margin: 0 auto;
   }
   .tarif-enetrprice-license {
      margin-top: 6px;
      
      text-decoration-line: none;
      margin-bottom: 10px;

   } 
   .violet {
      color: #7B2CBF;
   }
   .violetbtn {
      background-color: #7B2CBF;
   }
   .tarif-eneterprise_vozm2 {
      margin-left: calc(var(--index)*3.2);
      width: 100%;
      padding-bottom: calc(var(--index)*2.18);
      }
      .tarif-enterpice-ch1 {
         display: none;
         cursor: pointer;
      }
      .opening.tarif-enterpice-ch1 {
         display: block;
         cursor: poiner;
      }
      .opening.tarif-enterpice-ch1:hover{
         color: #7B2CBF;
      }
      .tarif-enterpice-ch{
         cursor: pointer;
      }
    .violet-padding {
      padding-top: 17px;
    }
    .class__join {
      font-size: 40px;
      font-family: OpenSans;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.02em;
      text-align: center;
      padding-bottom: 22px;
          }
     .join__section {
             margin-top: calc(var(--index)*3.6);
             display: flex;
             flex-direction: column;
             align-items: center;
    }
    .join__section-btn {
      background: linear-gradient(180deg, #FF8847 0%, #FF5A00 99.99%, rgba(255, 136, 71, 0) 100%);       box-shadow: inset 0px 4px 4px rgba(255, 136, 71, 0.5);
      backdrop-filter: blur(0.5px);
      box-shadow: inset 0px 4px 4px rgba(255, 136, 71, 0.5);
       border-radius: 50px;
       width: calc(var(--index)*13.5);
       height: calc(var(--index)*3);
    }
        .text-btn {
      font-weight: 700;
font-size: 18px;
line-height: 15px;
text-transform: uppercase;
align-items: center;
    }
    .section-description-bottom {
      display: flex;
    }
    .section-descripton_leftside {
      width: 65%;
      margin-top: calc(var(--index)*5);
    }
    .descr-left-item {
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      font-family: OpenSans;
    }
    .section-descripton-rightside {
      position: absolute;
      width: 775px;
      height: 775px;
      left: 1199px;
    top: 3507px;
    z-index: 20;
    
    }
    .image__rightside {
      background-position: center;
      background-size: cover;
    }
    .container__image {
      width: 640px;
      }
      .container__image::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         background: radial-gradient(59.68% 59.7% at 50% 50%, rgba(0, 10, 47, 0) 0%, #000A2F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      }
      @media (max-width: 1756px) {
         .section-descripton-rightside {
            left: 1073px;
            top: 3456px;
         }
      }
 @media (max-width: 1710px) {
         .item__li-dropdown-choise {
            padding-left: 4px;
         }
         .item__li-select-wrapper {
             margin-left: 21px;
}
@media (max-width: 1620px) {
         .item__li-dropdown-choise {
            padding-left: 4px;
         }
         .item__li-select-wrapper {
             margin-left: 21px;
}
      }
      @media (max-width: 1501px) {
         .section-descripton-rightside {
            left: 983px;
            top: 3395px;
         }
         .item__li-year__article {
            font-size: 14px;
         }
         .item-title-down {
            margin: 0 auto;
         }
      }  
      @media (max-width: 1442px) {
    .article__tarif__container-item {
      width: 49.43%;
      margin-bottom: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .item-title_desc-text {
      width: calc(var(--index)*22);
      text-align: center;
    }
    .container__tarif {
      margin-left: 0;
    }
    .item-title_desc-text{
      width: calc(var(--index)*24);
    }
    .item-title_btn {
      width: calc(var(--index)*22.3);
    }
    .item__li-year__article {
      font-size: 22px;
      text-align: center;
  }
  .item__li-select-wrapper1 {
   position: relative;
   cursor: pointer;
   margin-right: 17px;
   margin-left: 16px;
   width: 30px;
   height: 13px;
   right: 0;
     }
     .open1 .arrow_example {
      width: 22px;
      height: 22px;
   }
   .arrow_example {
      top: -23px;
      width: 22px;
      height: 22px;
   }
   .item__li-select-wrapper {
      position: relative;
      cursor: pointer;
      margin-right: 17px;
      margin-left: 16px;
      width: 30px;
      height: 13px;
      right: 0;
        }
        .open1 .arrow_example {
         width: 22px;
         height: 22px;
      }
      .item-title_vozm-sec {
         width: 100%;
      }
      .item__li-dropdown {
         width: 100%;
      }
      .item__li-dropdown-choise {
         width: calc(var(--index)*22.3);
}
.item-title_vozm-desc {
   font-size: 22px;
   margin-left: 57px;
   padding-bottom: calc(var(--index)*1.7);
}
.item-title_vozm-sec {
   padding-bottom: calc(var(--index)*3);
}
.item-title_vozm {
   width: 90%;
}
.title-class {
   padding-bottom: 20px;
}
.tarif-first-second {
   margin-top: 0;
}
.leftside__span {
   font-size: 27px;
}
.tarif-eneterprise_vozm, .tarif-eneterprise_vozm2 {
   margin-left: 0;
}
.tarif-eneterprise_vozm {
   padding-bottom: calc(var(--index)*14.2); 
}
.container__image {
   width: 562px;
}
.section-descripton-rightside {
   left: 883px;
   top: 5005px;
}
.item-title-down-sec {
   margin: 0 auto;
}
      }

      @media (max-width: 1485px) {
      .item-title_desc-text {
         width: calc(var(--index)*15);
     }
     .item__li-dropdown-choise {
      width: calc(var(--index)*11.3);
     }
     .item__li-dropdown-choise {
      width: calc(var(--index)*11.3);
     }
     .arrow_example {
      top: -20px;
     }
     .item__li-select-wrapper {
      margin-left: 48px;
  }
  .item__li-select-wrapper1 {
   position: relative;
   cursor: pointer;
   margin-right: 16px;
   margin-left: 51px;
  }
  .item-title_btn {
   width: calc(var(--index)*10.3);
}
   }
   @media (max-width: 1441.9px) {
      .container__image {
         width: 517px;
     }
     .section-descripton-rightside {
      left: 883px;
      top: 5127px;
  }
  .item-title_desc-text {
   width: calc(var(--index)*23);
   font-weight: bold;
}
  .tarif-enterprise_tile {
  margin-left: 0;
   width: 401px;
}
.item-title_desc {
   display: flex;
   justify-content: center;
}
.arrow_example {
   top: -25px;
}
   }


      @media (max-width: 1440px) {
         .container__image {
            width: 465px;
         }
            .section-descripton-rightside {
               left: 892px;
               top: 4934px;
            }
            .item-title-down {
               margin: 0 auto;
            }
            .item-title_vozm-desc {
               font-size: 22px;
               margin-left: 57px;
               padding-bottom: calc(var(--index)*0.7);
           }
           .item-title_desc-text {
            width: calc(var(--index)*23);
        }
        .item__li-select-wrapper1, .item__li-select-wrapper {
         position: relative;
         cursor: pointer;
         margin-right: 16px;
         margin-left: 15px;
         
      }
      .arrow_example {
         top: -24px;
      }
      .item__li-dropdown-choise {
         width: calc(var(--index)*21.3);
     }
     .section-descripton-rightside {
      left: 877px;
      top: 4407px;
  }
      }

@media (max-width: 1425px) {
   .item-title_desc-text {
       width: calc(var(--index)*26);
       text-align: center;
   }
   .item-title_desc {
      display: flex;
      justify-content: center;
      width: calc(var(--index)*22.7);
   }
   .item__li-dropdown-choise {
      width: calc(var(--index)*21.3);
  }
  .item__li-select-wrapper1, .item__li-select-wrapper {
   position: relative;
   cursor: pointer;
   margin-right: 16px;
   margin-left: 15px;
}
.arrow_example {
   top: -24px;
}
}
 @media (max-width: 1361px) {
         .section-descripton-rightside {
    left: 883px;
    top: 5005px;
}   
.section-descripton-rightside {
   left: 867px;
   top: 4317px;
} 
           
.item-title-down {
               margin: 0 auto;
            }
         }
 @media (max-width: 1280px) { 
.section-descripton-rightside {
    left: 827px;
    top: 4794px;
}
.section-descripton-rightside {
      left: 819px;
    top: 4152px;
}
.tarif-enterprise_tile {
    margin-left: 0;
    
}
.year__article {
    font-size: 15px;
}
.item-title_desc-text {
    width: calc(var(--index)*26);
}
.item__li-dropdown-choise {
   width: calc(var(--index)*22.3);
}
.arrow_example {
   top: -26px;
}
.item__li-select-wrapper1 {
   position: relative;
   cursor: pointer;
   margin-right: 23px;
   margin-left: 27px;
}
.item__li-select-wrapper {
   margin-left: 27px;
}
.item-title_btn {
   width: calc(var(--index)*21.3);
}
 }
@media (max-width: 1360px) {
   .item-title_desc-text {
      width: calc(var(--index)*23);
      text-align: center;
  }
  .item-title_btn {
      margin-bottom: 10px;
  }
  .item__li-dropdown-choise {
   width: calc(var(--index)*21.3);
}
.arrow_example {
   top: -25px;
}
.item__li-select-wrapper {
   margin-left: 30px;
}
}

@media (max-width: 1225px) {
   .item-title_desc-text {
      width: calc(var(--index)*24);
  }
}

      @media (max-width: 1205px) { 
     .item__li-dropdown-choise, .item-title_btn  {
       width: calc(var(--index)*19.3);}
       .class__join {
         font-size: 26px;
       }
         .item-title_desc-text {
            width: calc(var(--index)*20);
            margin-left: 20px;
        }
        .item-title_desc-text {
        
         margin-left: 20px;
     }
     .item-title_vozm-desc {
      font-size: 22px;
      margin-left: 57px;
      padding-bottom: calc(var(--index)*0.7);
      }
      .section-descripton-rightside {
         left: 728px;
         top: 4475px;
     }
     .item-title-down {
      margin: 0 auto;
   }
      }
      @media (max-width: 1205px) { 
         .article__tarif__container-item {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 0;
          }
          .item-title-text {
            font-size: 49px;
          }
          .section-descripton-rightside {
            
            display: none;
        }
        .item-title_desc-text {
         width: calc(var(--index)*45);
         font-size: 27px;
      }
      .item__li-dropdown-choise, .item-title_btn {
         width: calc(var(--index)*19.3);
         margin: 0 auto;
     }
     .item__li-dropdown {
      width: 100%;
      margin-left: 0;
  }
  .item__li-dropdown-choise, .item-title_btn {
   
   margin-bottom: 20px;
}
.arrow_example {
   top: -25px;
   width: 22px;
   height: 22px;
}
.open1 .arrow_example {
   width: 22px;
   height: 22px;
   top: -12px;
}
.item__li-select-wrapper, .item__li-select-wrapper1 {
      margin-left: 4px;
  }
  .section-descripton_leftside {
   width: 100%;
  }
      }

      @media (max-width: 1200px){
     
     .item-title_desc {
      display: flex;
      justify-content: center;
      width: calc(var(--index)*41.7);
  }
  .item-title_desc-text {
   width: calc(var(--index)*37);
   font-size: 27px;
   margin: 0 auto;
}
   }

 
      @media (max-width: 1100px) { 
         .item-title_desc-text {
            width: calc(var(--index)*43);
            font-size: 27px;
           
            text-align: center;
        }
        .item-title-down {
         margin: 0 auto;
      }
      .item__li-year__article {
         font-size: 19px;
      }
      }
@media (max-width: 1024px) {
.item-title {
  margin-left: 0;
}
.item-title_desc-text {
    width: calc(var(--index)*57);
}
.item__li-year__article {
    font-size: 18px;
}
.dropdown-choise {
padding-left: 6px;
}
.rightside {
flex-direction: column;
margin-top: 20px;
}
}
@media (max-width: 960px) {
   .item-title_desc-text {
      width: calc(var(--index)*52);
  }
  .dropdown-choise {
   width: calc(var(--index)*13.7);
  }
}
@media (max-width: 960px) {
   .item-title_desc-text {
      width: calc(var(--index)*42);
  }

}

      @media (max-width: 960px) { 
.item-title {
   margin-left: 0;
}
.item-title_desc-text {
   width: calc(var(--index)*37);
}
      }

      @media (max-width: 925px) { 
         .item__li-select-wrapper, .item__li-select-wrapper1 {
            margin-left: 0;
        }
        .item__li-year__article {
         font-size: 20px;
         text-align: center;
         left: 10px;
     }
     .item-title_desc-text {
      width: calc(var(--index)*30);
  }
      }
      @media (max-width: 925px) { 
         .item__li-year__article {
            font-size: 18px;}
            .arrow_example {
               top: -22px;
               width: 16px;
               height: 16px;
           }
           .open1 .arrow_example {
            width: 15px;
            height: 15px;
            top: -10px;
        }
      }
      @media (max-width: 925px) { 
         .dropdown-choise {
            padding-left: 6px;
         }
         .year__article {
            font-size: 14px;
         }
.item-title_desc {
line-height: 29px;
}
         .leftside__span {
            font-size: 22px;
        }
        .centerright {
         margin-right: 8px;
         font-family: OpenSans;
         font-size: 13px;
         font-weight: 700;
     }
     .select-wrapper {
        margin-right: 5px;
     }
.item-title_desc-text {
    width: calc(var(--index)*31);
}
      }
@media (max-width: 821px) { 
.item-title_desc-text {
    width: calc(var(--index)*35);
}
}

@media (max-width: 768px) { 
        .item-title_desc-text {
    width: calc(var(--index)*32);
    margin-left: 0;
}
      }
      @media (max-width: 725px) { 
         .item__li-year__article {
            font-size: 15px;
        }
      }

@media (max-width: 540px) { 
.item-title_desc-text {
    width: calc(var(--index)*37);
}
.dropdown-choise {
    width: calc(var(--index)*16.7);
}
.year__article {
    font-size: 14px;
}
}

@media (max-width: 414px) { 
        .item-title-text {
    font-size: 43px;
      }
.item-title_desc {
line-height: 27px;
}
.select-wrappe {
margin-left: 2px;
}
.dropdown-choise {
    padding-left: 6px;
    width: calc(var(--index)*15.7);
}
}

@media (max-width: 412px) {
.item-title_desc-text {
    width: calc(var(--index)*30);
}
}

@media (max-width: 393px) {
.item-title_desc-text {
    width: calc(var(--index)*34);
}
}
@media (max-width: 375px) {
.item-title_desc-text {
    width: calc(var(--index)*46);
    margin: 0 auto;
}
.item__li-dropdown-choise, .item-title_btn {
   width: calc(var(--index)*30.3);
   margin: 0 auto;
}
}


@media (max-width: 360px) {
.dropdown-choise {
    padding-left: 6px;
    width: calc(var(--index)*19.7);
    margin-right: 5px;
}
.leftside__span {
    font-size: 24px;
}
.item-title_desc-text {
    width: calc(var(--index)*39);
}
.item__li-dropdown-choise, .item-title_btn {
    width: calc(var(--index)*28.3);
    margin: 0 auto;
    margin-bottom: 12px;
}
.item-title_desc-text {
width: calc(var(--index)*33);
margin-left: 0;
margin-right: 0;
}
}


@media (max-width: 280px) {
.item-title_desc-text {
    width: calc(var(--index)*47);
}
.centerright {
    margin-right: 8px;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.dropdown-choise {
    padding-left: 4px;
    width: calc(var(--index)*21.7);
   padding-right: 4px;
}
.select-wrapper{
    margin-left: 7px;
}
.item__li-dropdown-choise, .item-title_btn {
    width: calc(var(--index)*34.3);
    margin: 0 auto;
    margin-bottom: 10px;
}
 }

@media (max-width: 968.7px) {
   .item-title_desc-text {
      width: calc(var(--index)*35);
      margin-left: 0;
      .item-title_desc-text {
       
     }
  }
  }
 
